extends layout

block content
  h1= title
    div.btn-group#buttons(data-spy="affix",data-offset-top="30",style="margin-left:1em")
      a.btn.btn-primary#btn_load Reset
      a.btn.btn-success#btn_save Save
      a.btn.btn-danger#btn_delete Delete
      a.btn.btn-default#btn_cancel(href='/') Cancel

  div#editor_holder

  script.
    //$('#loading').spin({})
    var element = document.getElementById('editor_holder')
    var editor = new JSONEditor(element, {
      schema: !{schema},
      theme: "bootstrap3",
      iconlib: "bootstrap3",
    })
    $(document).ready(function () {
      // Apply ladda to buttons
      $("#buttons a.btn").each(function (x, elem) {
        $(elem).addClass('ladda-button').attr('data-style', 'expand-left')
      })
      $("#btn_load").trigger('click')
    })
    $("#btn_load").click(function () {
      var l = $(this).ladda()
      l.ladda('start')
      $.ajax({
        method: "GET",
        url: "/entries/#{id}",
        success: function (data) {
          editor.setValue(data)
        },
        error: function (err) {
          alert(err.statusText + "\n" + err.responseJSON.name + "\n" + err.responseJSON.err)
        },
        complete: function () {
          l.ladda('stop')
        }
      })
    })
    $("#btn_save").click(function () {
      var id = "#{id}" // null when adding
      var l = $(this).ladda()
      l.ladda('start')
      $.ajax({
        method: "POST",
        contentType: "application/json",
        url: "/entries/"+id,
        data: JSON.stringify(editor.getValue()),
        success: function (data) {
          if (id) {
            editor.setValue(data)
          } else {
            window.location.replace('/edit/'+data._id)
          }
        },
        error: function (err) {
          alert(err.statusText + "\n" + err.responseJSON.name + "\n" + err.responseJSON.err)
        },
        complete: function () {
          l.ladda('stop')
        }
      })
    })
    $("#btn_delete").click(function () {

      if (!confirm("Really delete this entry?"))
        return false;

      var l = $(this).ladda()
      l.ladda('start')
      $.ajax({
        method: "DELETE",
        url: "/entries/#{id}",
        success: function () {
          window.location.replace('/')
        },
        error: function (err) {
          alert(err.statusText + "\n" + err.responseJSON.name + "\n" + err.responseJSON.err)
        },
        complete: function () {
          l.ladda('stop')
        }
      })
    })
