extends layout

mixin etym(es,lang_class)
  for e in es
    if groups.hasOwnProperty(lang_class) && groups[lang_class].indexOf(e.language) > -1
      div
        +language(e.language)
        | &nbsp;
        if e.word_native
          span= e.word_native
          | &nbsp;
        em= e.word
          | &nbsp;
        if e.reference
          +reference(e.reference)

mixin language(abbrev)
  if languages[abbrev]
    span.language(data-toggle="tooltip",data-placement="bottom",title=languages[abbrev]['name'])= abbrev
  else
    span.language= abbrev
      
mixin reference(ref_str)
  - var match = ref_str.match(/^[\w\d]+/)
  - var abbrev = match ? match[0] : ref_str
  - var ref = references[abbrev]
  if ref
    - var tt = ref.authors.join(', ')
    - if (ref.year) tt += ' (' + ref.year + ')'
    span.reference(data-toggle="tooltip",data-placement="bottom",title=tt)= ref_str
  else
    span.reference= ref_str

block content
  
  if !query || !query.s
    div.jumbotron(style="margin-top:2em")
      h1
        span(style="color:firebrick") Minsel 
        | Etymological Dictionary
      p Minsel is a new etymological dictionary for Maltese, being compiled by
        | researchers at the Department of Oriental Studies at the
        | University of Malta.
        | There's currently not much here, but new entries are being added slowly.
  
  h2= title
    if query && query.s
      a.btn.btn-link(href=baseURL+"/",style="margin-left:1em") Clear

  table.table
    //- thead
    //-   tr
    //-     th Lemma
    //-     th Senses
    //-     th Etymology
    tbody
      for d in data
        tr
          td.col-md-2
            div(style="font-size:2em;margin-bottom:0").lead
              em= d.lemma
              - if (user)
                | &nbsp;
                a(href=baseURL+"/edit/"+d._id).btn.btn-warning.btn-xs Edit
            div
              for v, k in d
                if ['_id','lemma','root','senses','etymology'].indexOf(k) === -1
                  if v === true
                    = k
                  else
                    = v
                  | 
              if d.root
                div
                  = d.root.radicals
                  if d.root.variant
                    sup.text-muted= d.root.variant
          td.col-md-6.senses
            h4 Senses
            ol
              if d.senses
                for s in d.senses
                  li= s.description.join(', ')
                    div.text-muted
                      for l in s.etymologies
                        +language(l)
                        | , 
          td.col-md-4.etymology
            if d.etymology
              h4 Arabic &amp; dialects
              +etym(d.etymology, 'arabic')
              +etym(d.etymology, 'levantine-arabic')
              h4 Wider Semitic Area
              +etym(d.etymology, 'semitic')
              +etym(d.etymology, 'ethiopic')
