extends layout

block content
  h1= title

  table.table
    //- thead
    //-   tr
    //-     th Lemma
    //-     th Senses
    //-     th Etymology
    tbody
      for d in data
        tr
          td.col-md-2
            div(style="font-size:2em;margin-bottom:0").lead
              em= d.lemma
              | &nbsp;
              a(href="#{baseURL}/edit/#{d._id}").btn.btn-warning.btn-xs Edit
            div
              for v, k in d
                if ['_id','lemma','senses','etymology'].indexOf(k) === -1
                  if v === true
                    !{k}
                  else
                    !{v}
                  | 

          td.col-md-6
            h4 Senses
            ol
              if d.senses
                for s in d.senses
                  li= s.description
                    div.text-muted= s.etymologies.join(', ')
          td.col-md-4
            if d.etymology
              h4 Arabic &amp; dialects
              for e in d.etymology
                if !e.semitic
                  div
                    strong= e.language
                          | &nbsp;
                    if e.word_native
                      span= e.word_native
                      | &nbsp;
                    em= e.word
                      | &nbsp;
                    if e.reference
                      span.text-muted (#{e.reference})
              h4 Wider Semitic Area
              for e in d.etymology
                if e.semitic
                  div
                    strong= e.language
                          | &nbsp;
                    if e.word_native
                      span= e.word_native
                      | &nbsp;
                    em= e.word
                      | &nbsp;
                    if e.reference
                      span.text-muted (#{e.reference})
                    
