extends layout

mixin etym(es)
  for e in es
    tr(data-language=e.language)
      td
        +language(e.language)
        if e.variant
          | &nbsp;(!{e.variant})
      td
        em= e.word
        if e.word_native
          |  
          span.native= e.word_native
        if e.comments
          div= e.comments
      if e.reference
        +reference(e.reference)
      else
        td(colspan=2)

mixin language(abbrev)
  if languages[abbrev]
    span.language(data-toggle="tooltip",data-placement="bottom",title=languages[abbrev]['name'])= abbrev
  else
    span.language= abbrev
      
mixin reference(ref_str)
  - var match = ref_str.match(/^[\w\d]+/) // up until space
  - var abbrev = match ? match[0] : ref_str
  - var ref = references[abbrev]
  - var pages = ref_str.substr(abbrev.length)
  td.reference
    if ref
      - var tt = ref.authors.join(', ')
      - if (ref.year) tt += ' (' + ref.year + ')'
      span(data-toggle="tooltip",data-placement="bottom",title=tt)= abbrev
    else
      span= abbrev
  td.reference
    = pages

block content
  
  if (!query.s && !id)
    div.jumbotron(style="margin-top:2em")
      h1
        span(style="color:firebrick") Minsel 
        | Etymological Dictionary
      p Minsel is a new etymological dictionary for Maltese, being compiled by
        | researchers at the Department of Oriental Studies at the
        | University of Malta.
        | It currently contains 
        span.label.label-default= entry_count
        |  entries.
        
  //- pre.pre-scrollable
  //-   | LANGUAGES = 
  //-   = JSON.stringify(languages, null, 4)
  //-   | GROUPS = 
  //-   = JSON.stringify(groups, null, 4)
  //-   | DATA = 
  //-   = JSON.stringify(data, null, 4)
  
  - if (!user)
    - data = []
    - title = ""
  
  h2= title
    if query && query.s
      a.btn.btn-link(href=baseURL+"/",style="margin-left:1em") Clear

  table.table
    //- thead
    //-   tr
    //-     th Lemma
    //-     th Senses
    //-     th Etymology
    tbody
      for d in data
        tr
          td.col-md-2
            div(style="font-size:2em;margin-bottom:0").lead
              em
                a(href=baseURL+"/view/"+d._id)= d.lemma
            div
              for v, k in d
                if ['_id','lemma','root','senses','etymology'].indexOf(k) === -1
                  if v === true
                    = k
                  else
                    = v
                  | 
              if d.root
                div
                  = d.root.radicals
                  if d.root.variant
                    sup.text-muted= d.root.variant
            if (user)
              div
                a(href=baseURL+"/edit/"+d._id).btn.btn-xs.btn-warning
                  +icon('pencil', 'Edit')
                | &nbsp;
                button(type="button",data-id=''+d._id,data-action="history").btn.btn-xs.btn-info
                  +icon('time', 'History')
          td.col-md-5.senses
            if d.senses && d.senses.length > 0
              h4 Senses
              ol
                for s in d.senses
                  //- No etymologies given = occurs in all
                  //- if (s.etymologies.length == 0)
                  //-   for e in d.etymology
                  //-     if (s.etymologies.indexOf(e['language']) === -1)
                  //-       - s.etymologies.push(e['language'])
                  li
                    div.sense(class=s.etymologies.join(' '))
                      = s.description.join(', ')
                    div.text-muted
                      //- Sort by language
                      - var etyms_sorted = s.etymologies.sort(function (a,b) {
                      -   var order_a = languages[a] ? languages[a]['order'] : 9999
                      -   var order_b = languages[b] ? languages[b]['order'] : 9999
                      -   return order_a - order_b
                      - })
                      
                      //- Then display
                      for l, x in etyms_sorted
                        +language(l)
                        if x < etyms_sorted.length-1
                          | , 
          td.col-md-5.etymology
            if d.etymology && d.etymology.length > 0
              h4 Etymology
              table.etymologies.table.table-condensed
            
                //- Collect etyms into groups
                -
                  var etym_grouped = {
                    arabic:{title:'Arabic & dialects', items:[]},
                    semitic:{title:'Wider Semitic Area', items:[]},
                    other:{title:'Other', items:[]}
                  }

                for e in d.etymology
                  - var cls = languages.hasOwnProperty(e.language) ? languages[e.language]['class'] : null
                  if (cls == 'arabic' || cls == 'levantine-arabic')
                    - etym_grouped.arabic.items.push(e)
                  else if (cls == 'semitic' || cls == 'ethiopic')
                    - etym_grouped.semitic.items.push(e)
                  else
                    - etym_grouped.other.items.push(e)
                  
                //- Then sort them
                - var sorter = function (a,b) {
                -   var order_a = languages[a['language']] ? languages[a['language']]['order'] : 9999
                -   var order_b = languages[b['language']] ? languages[b['language']]['order'] : 9999
                -   return order_a - order_b
                - }
                - etym_grouped.arabic.items.sort(sorter)
                - etym_grouped.semitic.items.sort(sorter)
                
                //- Then display them
                for e in etym_grouped
                  if e.items.length > 0
                    tr
                      th(colspan=2)
                        h5
                          strong= e.title
                      th
                        h5 Ref.
                      th
                        h5 pp.
                    +etym(e.items)

  div.modal#history-modal
    div.modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          button(type="button",class="close",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title
          small.text-muted Note: direct edits to the database are not recording in the history.
        div.modal-body
          div#history
        div.modal-footer
          img(src=baseURL+"/images/ajax-loader.gif",style="visibility:hidden")#loading

  style.
    table.etymologies {
      width: 100%;
    }
    table.etymologies th {
      font-style: italic;
    }
    .highlight {
      background: #fcf8e3;
    }
    .sense.highlight {
      display: inline-block;
      padding: 2px 5px;
      margin: -2px -5px;
      border-radius: .25em;
    }

  script(src=baseURL+'/javascripts/json-pretty.js',defer)
  script.
    $(document).ready(function () {
      $('.etymology tr[data-language]').hover(
        function () {
          var t = $(this)
          var lang = t.attr('data-language')
          t.addClass('highlight')
          t.parent().parent().parent().parent().find('.sense.'+lang).addClass('highlight')
        },
        function () {
          var t = $(this)
          var lang = t.attr('data-language')
          t.removeClass('highlight')
          $('.sense.'+lang).removeClass('highlight')
        }
      )
      
      $('button[data-action="history"]').click(function () {
        load_history('entries', $(this).attr('data-id'))
      })
      
      function load_history (type, id) {
        $('#history-modal').modal('show')
        $('#history').text('')
        show_loading()
        $.ajax({
          method: 'GET',
          url: '#{baseURL}/logs/' + type + '/' + id,
          success: view_history,
          error: handle_error,
          complete: function () {
            hide_loading()
          }
        })
      }

      function view_history (data) {
        var table = $('<table>').addClass('table table-condensed')
        var thead = $('<thead>').appendTo(table)
        thead.append(
          $('<tr>').append(
            $('<th>').text('Details'),
            $('<th>').text('Document')
          )
        )
        var tbody = $('<tbody>').appendTo(table)
        $('#history').text('').append(table)
        if (data.length > 0) {
          data.forEach(function (item) {
            tbody.append(
              $('<tr>').append(
                $('<td>').append(
                  $('<div>').text(item.date),
                  // Fields below are all optional
                  $('<div>').addClass('text-info').text(item.action),
                  $('<div>').addClass('text-muted').text(item.username),
                  $('<div>').addClass('text-muted').text(item.ip)
                ),
                $('<td>').append(
                  item.new_value
                  ? $('<pre>').addClass('json').html(JSONPretty(item.new_value))
                  : '-'
                )
              )
            )
          })
          $('#btn-replace-commit').removeClass('disabled')
        } else {
          tbody.append(
            $('<tr>').append(
              $('<td>').attr('colspan', 2).text('No history')
            )
          )
        }
      }

    })
