extends layout

mixin etym_group(title, lang_classes, etyms)
  //- First collect them
  - var es = []
  for e in etyms
    for clas in lang_classes
      if groups.hasOwnProperty(clas) && groups[clas].indexOf(e.language) > -1
        - es.push(e)
  //- Then sort them
  - es = es.sort(function (a,b) {
  -   var order_a = languages[a['language']] ? languages[a['language']]['order'] : 9999
  -   var order_b = languages[b['language']] ? languages[b['language']]['order'] : 9999
  -   return order_a - order_b
  - })
  //- Then display them
  if es.length > 0
    tr
      th(colspan=3)
        h5.text-muted= title
    +etym(es)

mixin etym(es)
  for e in es
    tr(data-language=e.language)
      td
        +language(e.language)
        | &nbsp;
      td
        em= e.word
          | &nbsp;
        if e.word_native
          span= e.word_native
          | &nbsp;
      td
        if e.reference
          +reference(e.reference)

mixin language(abbrev)
  if languages[abbrev]
    span.language(data-toggle="tooltip",data-placement="bottom",title=languages[abbrev]['name'])= abbrev
  else
    span.language= abbrev
      
mixin reference(ref_str)
  - var match = ref_str.match(/^[\w\d]+/)
  - var abbrev = match ? match[0] : ref_str
  - var ref = references[abbrev]
  if ref
    - var tt = ref.authors.join(', ')
    - if (ref.year) tt += ' (' + ref.year + ')'
    span.reference(data-toggle="tooltip",data-placement="bottom",title=tt)= ref_str
  else
    span.reference= ref_str

block content
  
  if !query || !query.s
    div.jumbotron(style="margin-top:2em")
      h1
        span(style="color:firebrick") Minsel 
        | Etymological Dictionary
      p Minsel is a new etymological dictionary for Maltese, being compiled by
        | researchers at the Department of Oriental Studies at the
        | University of Malta.
        | There's currently not much here, but new entries are being added slowly.
        
  //- pre.pre-scrollable
  //-   | LANGUAGES = 
  //-   = JSON.stringify(languages, null, 4)
  //-   | GROUPS = 
  //-   = JSON.stringify(groups, null, 4)
  //-   | DATA = 
  //-   = JSON.stringify(data, null, 4)
  
  h2= title
    if query && query.s
      a.btn.btn-link(href=baseURL+"/",style="margin-left:1em") Clear

  table.table
    //- thead
    //-   tr
    //-     th Lemma
    //-     th Senses
    //-     th Etymology
    tbody
      for d in data
        tr
          td.col-md-2
            div(style="font-size:2em;margin-bottom:0").lead
              em= d.lemma
              - if (user)
                | &nbsp;
                a(href=baseURL+"/edit/"+d._id).btn.btn-warning.btn-xs Edit
            div
              for v, k in d
                if ['_id','lemma','root','senses','etymology'].indexOf(k) === -1
                  if v === true
                    = k
                  else
                    = v
                  | 
              if d.root
                div
                  = d.root.radicals
                  if d.root.variant
                    sup.text-muted= d.root.variant
          td.col-md-5.senses
            h4 Senses
            ol
              if d.senses
                for s in d.senses
                  li
                    div.sense(class=s.etymologies.join(' '))
                      = s.description.join(', ')
                    div.text-muted
                      //- No etymologies given = occurs in all
                      if (s.etymologies.length == 0)
                        for e in d.etymology
                          if (s.etymologies.indexOf(e['language']) === -1)
                            - s.etymologies.push(e['language'])
                        
                      //- Sort by language
                      - var etyms_sorted = s.etymologies.sort(function (a,b) {
                      -   var order_a = languages[a] ? languages[a]['order'] : 9999
                      -   var order_b = languages[b] ? languages[b]['order'] : 9999
                      -   return order_a - order_b
                      - })
                      
                      //- Then display
                      for l, x in etyms_sorted
                        +language(l)
                        if x < etyms_sorted.length-1
                          | , 
          td.col-md-5.etymology
            h4 Language usage
            if d.etymology
              table.etymologies.table.table-condensed
                +etym_group('Arabic & dialects', ['arabic', 'levantine-arabic'], d.etymology)
                +etym_group('Wider Semitic Area', ['semitic', 'ethiopic'], d.etymology)
              
  style.
    table.etymologies {
      width: 100%;
    }
    table.etymologies th {
      font-style: italic;
    }
    .highlight {
      background: #fcf8e3; /* Bootstrap .warning */
    }

  script.
    $(document).ready(function () {
      $('.etymology tr[data-language]').hover(
        function () {
          var t = $(this)
          var lang = t.attr('data-language')
          t.addClass('highlight')
          t.parent().parent().parent().parent().find('.sense.'+lang).addClass('highlight')
        },
        function () {
          var t = $(this)
          var lang = t.attr('data-language')
          t.removeClass('highlight')
          $('.sense.'+lang).removeClass('highlight')
        }
      )
    })
