extends layout

block content
  
  h2= title
    if (user)
      button.btn.btn-sm.btn-primary(onclick='actions.add()')
        +icon('plus', 'Add language')
  
  table.table.table-striped.table-hover
    thead
      tr
        th Abbreviation
        th Name
        th Class
        th Comment
        if (user)
          th Order
          th Actions
        
    tbody
      for d, i in data
        tr(data-id=d._id.toHexString())
          td
            strong= d.abbrev
          td= d.name
          td= d.class
          td= d.comment
          if (user)
            td.text-muted= d.order
            td
              a.btn.btn-xs.btn-default(
                style='visibility:'+((i>0)?'visible':'hidden'),
                onclick='actions.reorder("'+d._id+'", '+(d.order-6)+')'
              )
                +icon('arrow-up')
              |   
              a.btn.btn-xs.btn-default(
                style='visibility:'+((i<data.length-1)?'visible':'hidden'),
                onclick='actions.reorder("'+d._id+'", '+(d.order+6)+')'
              )
                +icon('arrow-down')
              |   
              a.btn.btn-xs.btn-warning(onclick='actions.edit("'+d._id+'")')
                +icon('pencil', 'Edit')
              |   
              a.btn.btn-xs.btn-danger(onclick='actions.delete("'+d._id+'")')
                +icon('remove', 'Delete')

  .modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title ...
        .modal-body
          div#editor-holder
        .modal-footer
          img(src=baseURL+"/images/ajax-loader.gif",style="visibility:hidden")#loading
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-success(type='button',onclick='actions.save()') Save
          
  script.
    var editor
    var editor_id = null
    $(document).ready(function () {
      var element = document.getElementById('editor-holder')
      editor = new JSONEditor(element, {
        schema: !{schema}
      })
    })
    var actions = {
      // Show add modal
      add: function () {
        $('h4.modal-title').text('Add language')
        $('.modal').modal()
        editor.setValue({})
        editor_id = null
        return false
      },
      // Show edit modal
      edit: function (id) {
        $('h4.modal-title').text('Edit language')
        $('.modal').modal()
        $.ajax({
          method: "GET",
          url: "#{baseURL}/languages/" + id,
          success: function (data) {
            editor.setValue(data)
            editor_id = data._id // should == id
          },
          error: handle_error,
        })
        return false
      },
      // Save
      save: function () {
        show_loading()
        $.ajax({
          method: "POST",
          contentType: "application/json",
          url: "#{baseURL}/languages/" + (editor_id ? editor_id : ''),
          data: JSON.stringify(editor.getValue()),
          success: function (data) {
            window.location.reload()
          },
          error: handle_error
        })
        return false
      },
      // Change order
      reorder: function (id, order) {
        $.ajax({
          method: "POST",
          url: "#{baseURL}/languages/reorder/" + id + "/" + order,
          success: function (data) {
            window.location.reload()
          },
          error: handle_error,
        })
        return false
      },
      // Delete reference
      delete: function (id) {
        if (!confirm("Really delete this reference?"))
          return false;
        $.ajax({
          method: "DELETE",
          url: "#{baseURL}/languages/" + id,
          success: function (data) {
            window.location.reload()
          },
          error: handle_error
        })
        return false
      },
    }
