extends layout

mixin reference(ref_str)
  - var match = ref_str.match(/^[\w\d]+/)
  - var abbrev = match ? match[0] : ref_str
  - var ref = references[abbrev]
  if ref
    - var tt = ref.authors.join(', ')
    - if (ref.year) tt += ' (' + ref.year + ')'
    span.reference(data-toggle="tooltip",data-placement="bottom",title=tt)= ref_str
  else
    span.reference= ref_str

block content
  
  h2= title
    if (user)
      button.btn.btn-sm.btn-primary(onclick='actions.add()')
        +icon('plus', 'Add reference')

  table.table.table-striped.table-hover
    thead
      tr
        th Abbreviation
        th Dialect
        th Authors
        th Year
        if (user)
          th Actions
    tbody
      for d in data
        tr
          td
            strong= d.abbrev
          td= d.dialect
          td= d.authors
          td= d.year
          if (user)
            td
              a.btn.btn-xs.btn-warning(onclick='actions.edit("'+d._id+'")')
                +icon('pencil', 'Edit')
              |   
              a.btn.btn-xs.btn-danger(onclick='actions.delete("'+d._id+'")')
                +icon('remove', 'Delete')

  .modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title ...
        .modal-body
          div#editor-holder
        .modal-footer
          img(src=baseURL+"/images/ajax-loader.gif",style="visibility:hidden")#loading
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-success(type='button',onclick='actions.save()') Save

  script.
    var editor
    var editor_id = null
    $(document).ready(function () {
      var element = document.getElementById('editor-holder')
      editor = new JSONEditor(element, {
        schema: !{schema}
      })
    })
    var actions = {
      // Show add modal
      add: function () {
        $('h4.modal-title').text('Add reference')
        $('.modal').modal()
        editor.setValue({})
        editor_id = null
        return false
      },
      // Show edit modal
      edit: function (id) {
        $('h4.modal-title').text('Edit reference')
        $('.modal').modal()
        $.ajax({
          method: "GET",
          url: "#{baseURL}/references/" + id,
          success: function (data) {
            editor.setValue(data)
            editor_id = data._id // should == id
          },
          error: handle_error,
        })
        return false
      },
      // Save
      save: function () {
        show_loading()
        $.ajax({
          method: "POST",
          contentType: "application/json",
          url: "#{baseURL}/references/" + (editor_id ? editor_id : ''),
          data: JSON.stringify(editor.getValue()),
          success: function (data) {
            window.location.reload()
          },
          error: handle_error
        })
        return false
      },
      // Delete reference
      delete: function (id) {
        if (!confirm("Really delete this reference?"))
          return false;
        $.ajax({
          method: "DELETE",
          url: "#{baseURL}/references/" + id,
          success: function (data) {
            window.location.reload()
          },
          error: handle_error
        })
        return false
      },
    }
